.col-8, .col-4 {
    /* border: 3px solid rebeccapurple */
}

body {
    background: whitesmoke;
}

.stories {
    display: flex;
    overflow-x: scroll;
    background: white;
    border:1px solid #ddd;
    border-radius: 4px;
}

.story {
    margin:1rem;

}

.story img {
    border-radius: 50%;
    padding:2px;
    background: linear-gradient(white,white) padding-box,
                linear-gradient(to top right, orange, darkorchid) border-box;

    border: 4px solid transparent;
}